
html,body {
    margin: 0px;
    padding: 0px;
}

ul{
    padding: 0;
}


.main .home-section .nav-main .menu-container 
a{
    text-decoration: none;
}

*{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 
                'Lucida Sans', Arial, sans-serif Courier, monospace;
    font-weight: 600;
    color:rgb(161, 27, 27);
}
.main{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid--rows: 1fr;
}

.main .home-section{
    height: 100vh;
    background-color: rgb(226, 233, 238);
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    grid-template-rows: 120px 1fr;
}

.main .home-section .nav-main{
    margin: 0 100px;
    display: flex;
    align-items: center;
}

.main .home-section .nav-main .logo-container{
    flex: 1;
}

.main .home-section .nav-main .menu-container{
    display: flex;
    list-style-type: none;
   
}

.main .home-section .nav-main .menu-container li a{
    font-size: 25px;
    margin: 25px;  
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
}

.main .home-section .nav-main .menu-container li a::after{
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background: rgb(161, 27, 27);
    transform: scale(0,1);
    transition: transform 200ms ease-in;
}
.main .home-section .nav-main .menu-container li a:hover::after{
    transform: scale(1,1);
}

.main .home-section .nav-main .menu-container li:nth-child(5) a::after,
.main .home-section .nav-main .menu-container li:nth-child(6) a::after{
    all: unset;
}